env
build
build_test
build_test_integration
conf/*.conf
src/DoxyDocs
NTRTsim_logs/plots
NTRTsim_logs/plotting
NTRTsim_logs/to_plot
NTRTsim_logs/GA_failed
NTRTsim_logs/GAbetter
NTRTsim_logs/GA_moon

.cproject

.project

.idea

**/CMakeFiles
*Makefile
*cmake_install.cmake
*CMakeCache.txt
**/Makefile
**/cmake_install.cmake

*.pyc
*.kdev4
src/.settings/org.eclipse.cdt.codan.core.prefs

*~
*#
*.DS_Store

*.pdfsync
*.bbl
*.blg
*eps-converted-to.pdf